// https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme
// :root{
//   color-scheme: light dark;
// }

html, body{
  overflow-x: hidden;
}

*{
  font-family: Arial, Verdana, sans-serif,;
}

.wrapper{
  // =-=> pc ver
  // max-width: 1200px;
  min-width: 300px;
  max-width: 375px;
  margin: 0 auto;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
 text-decoration: none;
 color: black;
}


// click on gear selector
.gear-box{
  transition: all .15s ease-in-out;
  &:active{
    transition: all .15s ease-in-out;
    scale: 0.95;
  }

  // =-=> pc ver
  // &:hover{
  //   transition: all .15 ease-in-out;
  //   scale: 1.05;
  // }
}


