// https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme
// :root{
//   color-scheme: light dark;
// }

html, body{
  @media screen and (min-width:800px) {
    min-width: 800px;
  }
  overflow-x: hidden;
  position: relative;
}

body{
  @media screen and (min-width:1024px) {
    height: 100vh;
  }
 
  background: url('/img/wp10255304-final-fantasy-xiv-endwalker-wallpapers.png') center/cover no-repeat;
  height: 100%;
  width: 100%;
  // overflow-x: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

*{
  font-family: Arial, Verdana, sans-serif,;
}

.wrapper{
  @media screen and (min-width:600px) {
    min-width: 500px;
    max-width: 80%;
    margin: 0 auto;
  }
  @media screen and (min-width:800px) {
    min-width: 800px;
    max-width: 1000px;
    margin: 0 auto;
    width: fit-content;
  }
  background-color: #242024;
  // =-=> pc ver
  // max-width: 1200px;
  min-width: 350px;
  max-width: 375px;
  margin: 0 auto;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
 text-decoration: none;
 color: black;
}


// click on gear selector
.gear-box{
  transition: all .15s ease-in-out;
  &:active{
    transition: all .15s ease-in-out;
    scale: 0.95;
  }

  // =-=> pc ver
  // &:hover{
  //   transition: all .15 ease-in-out;
  //   scale: 1.05;
  // }
}

// =-=-=| Animations |=-=-=

@keyframes gear-window-pop {
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translate(0%);
  }
}
@keyframes gear-window-pop-reverse {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
.gear-window-pop{
  animation: gear-window-pop .6s cubic-bezier(0.57, 1.55, 0.68, 0.89) forwards;
}
.gear-window-pop-reverse {
  animation: gear-window-pop-reverse .6s cubic-bezier(0.57, 1.55, 0.68, 0.89) forwards;
}



// =-=-=-=| Job Selection |=-=-=-=
.dark-bg{
  background-color: #000000d1;
  opacity: 1;
  scale: 1;
  transition: scale .01s ease-in-out;
  transition: opacity .2s ease-in-out;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;

  .job-selector{
    border: 2px groove rgb(168, 155, 65);
    background-color: rgb(39, 39, 39);
    border-radius: 20px;
    padding: 10px;

    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 355px;
    height: 460px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 200px);

    scale: 1;
    transition: all .35s ease-in-out;

    .job-selector--x{
      position: absolute;
      top: 3px;
      right: 3px;
      z-index: 6;
      transition: all .15s ease-in-out;
      &:active {
        transition: all .15s ease-in-out;
        scale: 0.90;
      }
    }

    // tankhealers / dps
    > div {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 250px;

      // height: 300px;

      // tank or healer / mele or ranged
      > div{
        height: 250px;
        margin-right: 5px;
        
        .job{
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: center;
          margin-bottom: 5px;

          cursor: pointer;

          .job-icon{
            width: 35px;
            height: 35px;
            margin-right: 6px;
          }
          .job-name{
            color: rgb(226, 226, 226);
            font-weight: bold;
            font-family: "Playfair Display", serif;
          }
        }
      }

      .job{
        border-radius: 10px;
        transition: all .15s ease-in-out;
        &:hover{
          transition: all .15s ease-in-out;
        }
      }

      .tanks .job{
        &:hover{
          background-color: rgba(59, 59, 255, 0.770);
        }
      }
      .healers .job{
        &:hover{
          background-color: rgba(41, 140, 21, 0.770);
        }
      }

    }
    .job-damage-dealers{
      .mages{
        margin-top: 10px;
      }
      .job{
        &:hover{
          background-color: rgba(177, 39, 39, 0.770);
        }
      }
    }
    
  }

}

.hidden{
  opacity: 0;
  scale: 0;
  transition: scale .1s ease-in-out;
  transition: opacity .2s ease-in-out;

  .job-selector{
    transform: translateX(100%);
    scale: 0;
    transition: all .35s ease-in-out;
  }
}

#gear-search{
  border: 2px solid #ccc;
  outline: none;
  &:focus{
    border: 2px groove rgb(217, 195, 53);
  }
}


