// https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme
// :root{
//   color-scheme: light dark;
// }

*{
  font-family: Arial, Verdana, sans-serif,;
}

.wrapper{
  // pc ver
  // max-width: 1200px;
  min-width: 300px;
  margin: 0 auto;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
 text-decoration: none;
 color: black;
}



























