header{
  @media screen and (min-width:800px) {
    .header-container{
      max-width: 800px;
      margin: 0 auto;
    }


  }

  width: 100%;
  height: 50px;
  background-color: #242024;

  position: sticky;
  top: 0;
  z-index: 15;

  .header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: sticky;

    background-color: #242024;
    min-width: 300px;
    height: 50px;
    padding: 0 5px;

    // > div{
    //   width: fit-content;
    // }

    .logo{
      width: 120px;
      height: 40px;
      border-radius: 10px;
      display: flex;
      align-items: center;
    }

    .search-bar{
      position: absolute;
      right: 50%;
      transform: translateX(50%);

      // border: 1px solid black;
      border-radius: 30px;
      padding: 8px 20px;      
    }

    div:last-of-type{
      width: 90px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      div{
         width: 40px;
        i{
          // width: fit-content;
          cursor: pointer;
          color: rgb(237, 237, 229);
          width: 55px;
          font-size: 22px;
          text-align: center;
        }
      }
    }
  }
}




