@keyframes rota {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.big-wrapper{
  @media screen and (min-width:800px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  // height: 100%;
  // width: 100%;
  margin-bottom: 2rem;

  main{
    @media screen and (min-width:800px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 75px 1fr;
      justify-items: center;
      border-radius: 15px;
      border-top: 2px groove rgb(188, 173, 74);

      
      .profile{
        grid-column: 1 / span 3;
        grid-row: 1 / span 1;
        justify-self: start;
        width: 100%;
        border-radius: 15px 15px 0 0;
        border-bottom: 2px groove rgb(188, 173, 74);
      }
  
      section{
        height: 80%;
        max-width: 1300px;
      }
      .main{
        width: 100%;
        height: 100%;
        border-radius: 15px;
        margin-bottom: 0;
  
      }
      .stats-window{
        width: 100%;
        height: 100%;
        border-radius: 0 0 0 15px;
      }
    }
    
  
    // height: 100%;
    border: 2px groove rgb(188, 173, 74);
    border-top: none;
    border-radius: 0 0 15px 15px;
    .stats-window{
      border-radius: 0 0 15px 15px;
    }
  
    .main{
      background-color: #242024;
      padding: 10px;
      padding-top: 2rem;
      // height: 80%;
      max-width: 100%;
      margin: 0 auto;
      overflow: hidden;
      margin-bottom: 20px;
  
      // =-=-=-=| Main |=-=-=-=
      .bg-img{
        position: relative;
        // display: grid;
        align-items: center;
        
        background-color: rgba($color: #363636, $alpha: 0.4);
        // background: url('../img/xiv-character.jpg') center/cover;
        height: 580px;
        min-height: 355px;
  
        width: 100%;
        margin: 0 auto;
        border-radius: 10px;

        // ! HERE

        #loading{
          position: absolute;
          top: 50%;
          right: 50%;
          transform: translate(50%, -50%);  
          width: 50px;
          height: 50px;
          z-index: 3;

          #loader-1 {
            width: 50px;
            height: 50px;
            border: 5px solid rgb(255 255 255 / 16%);
            border-bottom-color: #8f44fd;
            border-radius: 50%;
            display: block;
            box-sizing: border-box;
            animation: rota 1s linear infinite;
          }
        }
  
        // =-=-=-=| Job Stone + Short Job Name |=-=-=-=
        .job-save{
          height: 2rem;
          width: fit-content;
          position: absolute;
          right: 50%;
          top: 0;
          transform: translateX(50%);
          z-index: 1;
          
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
    
          // border: 2px solid black;
          border-radius: 0 0 10px 10px;
          background-color: #242024;
          padding: 5px;
    
          .job-stone{
            display: flex;
            align-items: center;
            width: fit-content;
            
            img{
              width: 25px;
              aspect-ratio: 1/1;
              border-radius: 8px;
              margin-right: 4px;
            }
            > span{
              display: flex;
              align-items: center;
              width: fit-content;
  
              font-family: "Playfair Display", serif;
              font-size: 24px;
              height: 25px;
              text-transform: uppercase;
              color: rgb(255, 221, 26);
  
              span{
                color: #eee;
                font-size: 14px;
              }
            }
          }
          .save{
            button{
              background: none;
              border: none;
              color: white;
              font-size: 21px;
              height: 25px;
  
              display: flex;
              align-items: center;
            }
          }
        }
  
        // =-=-=-=| Gear selection/Equip |=-=-=-=
        .gear-grid{
          height: 100%;
          min-height: 355px;
  
          display: grid;
          grid-template-columns: repeat(2, 60px);
          column-gap: calc(100% - calc(60px * 2));
          align-items: center;
  
          position: relative;
  
          > div{
            display: grid;
            row-gap: 1rem;

            .gear-box{
              width: 55px;
              height: 55px;
              
              justify-self: center;
  
              display: flex;
              justify-content: center;
              align-items: center;
  
              img{
                width: 85%;
                height: 85%;
                margin-bottom: 4px;
              }
  
            }

          }          

          

          // =-=-=-=| Gear Searching PopUp |=-=-=-=
          .search-window{
            background-color: rgba($color: #242424, $alpha: 0.8);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
  
            border-radius: 10px 0 0 10px;
            // border: 1px solid black;
            border: 2px groove rgb(188, 173, 74);
            box-sizing: content-box;
            padding: 0 10px 10px 5px;
  
            overflow-x: scroll;
            direction:rtl;
  
            transform: translateX(120%);
            transition: all .5s cubic-bezier(0.57, 1.55, 0.68, 0.89);
            // transform: translateX(0%);
  
            > div:first-of-type{
              position: absolute;
              top: 5px;
              left: 5px;
              width: 28px;
              height: 25px;
              .search-window--x{
                // background-color: rgba($color: #242424, $alpha: 0.6);
                position: absolute;
                top: -5px;
                left: -2px;
                width: 30px;
                height: 30px;
                z-index: 3;
    
                display: flex;
                justify-content: center;
                align-items: center;
                
                color: rgb(237, 237, 237);
  
                img{
                  width: 100%;
                  height: 100%;
                }
                &:active{
                  transition: all .15s ease-in-out;
                  scale: 0.90;
                }
              }
            }
  
            .search{
              direction:ltr;
              position: relative;
  
              > div:first-of-type{
                position: sticky;
                top: 0;
                left: 0;

                margin-top: 30px;
                display: flex;
                flex-direction: row;
                justify-content: stretch;

                input, button{
                  padding: 8px;
                  border: none;
                }
                input{
                  width: 100%;
                  border-radius: 5px 0 0 5px;
                }
                button{
                  width: 50px;
                  &:active{
                    transition: all .15s ease-in-out;
                    background-color: #b6b6b6;
                  }
                }
              }
  
              .search-results{
  
                // equipement 'card'
                .item{
                  background-color: #404040;
                  border: 2px groove rgb(188, 173, 74);
                  border-radius: 5px;
                  padding: 3px;
                  display: flex;
                  margin-top: 6px;
                  // icon
                  >div:first-of-type{
                    width: 50px;
                    height: 50px;
                    margin-right: 4px;
                    transition: all .15s ease-in-out;
  
                    img{
                      width: 100%;
                      height: 100%;
                    }
  
                    &:active{
                      img{
                        transition: all .2s ease-in-out;
                        scale: 0.95;
                      }
                    }
                  }
                  >div:nth-of-type(2){
                    display: flex;
                    flex-direction: column;
                    width: 78%;
  
                    // name
                    >span:nth-of-type(1){
                      color: #f3f3f3;
                      text-transform: capitalize;
                      font-size: 14px;
                      margin-bottom: 2px;
                    }
                    // lvl
                    >span:nth-of-type(2){
                      font-size: 12px;
                      color: #eee;
                    }
  
                    .bonuses{
                      
                      >span:nth-of-type(1){
                        font-size: 12px;
                        color: #ccc;
                      }
                      hr{
                        margin: 0;
                        border-color: #585858;
                        width: 100%;
                        margin-bottom: 2px;
                      }
                      .stats{
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        text-transform: capitalize;

                        p{
                          margin: 0;
                          white-space: nowrap;
                          font-size: 14px;
                          color: rgb(241, 241, 241);
                          span:first-of-type{
                            color: #ac9c83;
                          }
                          span:last-of-type{
                            color: #f1f1f1;
                          }
  
                        }
  
                      }
                    }
  
                  }
  
                }
  
              }
  
            }
          }
        }
      }
    }
  }

}







