@keyframes window-pop {
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translate(0%);
  }
}
@keyframes window-pop-reverse {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
.window-pop{
  animation: window-pop .6s cubic-bezier(0.57, 1.55, 0.68, 0.89) forwards;
}
.window-pop-reverse {
  animation: window-pop-reverse .6s cubic-bezier(0.57, 1.55, 0.68, 0.89) forwards;
}

.profile{
  @media screen and (min-width:800px) {
    min-width: 375px;
    max-width: 100%;
    margin: 0 auto;
  }
  
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center
  ;
  background-color: #4b4b4b;
  padding: 5px;
  overflow-x: hidden;
  max-width: 100%;
  margin: 0 auto;
  padding: 5px 10px; 

  > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    > div:first-child{
      width: 80%;
  
      display: flex;
      flex-direction: row;
      align-items: center;
  
      .job-change{
        width: 55px;
        height: 55px;
        margin-right: 20px;
      }
  
      .info{
  
        > div{
          // white-space: wrap;
          text-overflow: ellipsis;
        }
        
        .title{
          font-size: 12px;
          color: black;
          text-transform: capitalize;
        }
        .name{
          font-size: 14px;
          color: black;
          font-weight: bold;
          overflow: hidden;
          
          white-space: nowrap;
          width: 100%;
        }
      }
    }
  }
  
  .profile-menu{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;

    transform: translateX(100%);
    transition: all .5s cubic-bezier(0.57, 1.55, 0.68, 0.89);

    background-color: #4b4b4b;
    border-radius: 15px 15px 0 0;
    font-size: 14px;
    color: #f3f3f3;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .range{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      div {
        display: flex;
        align-items: center;

        span{
          color: rgb(232, 198, 8);
          font-weight: bold;
          font-size: 15px;
        }
        
        #rangelvl{
          cursor: pointer;
        }
        
        .chosen-lvl{
          margin-left: 4px;
        }
      }

    }
  }
}

.burger-menu{
  display: block;
  position: absolute;
  top: .5rem;
  right: .5rem;
  z-index: 2;
  background: none;
  border: none;

  span{
    display: block;
    width: 30px;
    height: 4px;
    margin-bottom: 4px;
    background-color: #cdcdcd;
    border-radius: 3px;

    position: relative;
    z-index: 1;

    transition: all .5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  span:last-of-type{
    margin-bottom: 0;
  }

  &:hover{
    cursor: pointer;
  }
  
}

.close-burger{

  span{
    background: rgb(202, 175, 21);
  }
  span:nth-of-type(1){
    transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transform: rotate(45deg) translateY(12px);
  }
  span:nth-of-type(2){
    transition: opacity 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: scale 0.7 cubic-bezier(0.77, 0.2, 0.05, 1);
    opacity: 0;
    scale: .1;
  }
  span:nth-of-type(3){
    transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transform: rotate(-45deg) translateY(-12px);
  }

}



